body {
    margin: 0;
    font-family: Arial;
    background: #f4f4f4;
}

header {
    background: #222;
    color: white;
    padding: 20px;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 30px;
}

.page {
    background: white;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

canvas {
    width: 100%;
    height: auto;
}